$header-height: 44px;
$footer-height: 40px;

$card-width: 20%;
$card-min-width: 200px;
$card-min-height: 150px;

$card-header-height: 30px;
$task-height: 30px;

$primary-color: rgb(32, 45, 117);
$color-auxiliary: lighten($primary-color, 15%);
$card-color: saturate(invert($color-auxiliary), 30%);

$media-screen-param: max-width; 
$media-param-value: 350px;