.card {
  &-header {
    height: $card-header-height;

    .card-title {
      font-size: 1.3rem;
      font-weight: bold;
    } 
  }

  .task-holder {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .tasks {
      .task {
        margin-top: 10px;
        padding-left: 5px;
        margin-bottom: 2px;
        height: $task-height;
        font-size: 1.05rem;
        border-bottom: 2px solid white;
        margin-right: 9px;
        display: flex;
        align-items: flex-end;
      }
      flex-grow: 1;
    }
    .card-control-panel {
      height: 30px;

      button {
        @include button(white);
        font-weight: bold;
        padding-right: 5px;
        display: flex;
        align-items: center;
      }
    }
  }

  width: $card-width; 
  min-width: $card-min-width;

  max-height: 90%;
  min-height: 150px;

  display: flex;
  flex-direction: column;

  padding: 3px 0 3px 9px;
  background: $card-color;
  box-shadow: 12px 13px 0px -5px rgba(0,0,0,0.24);
  color: black;
  margin: 0 2%;
}

@mixin mobile-card {
  .card {
    &-title {
      font-size: 1rem;
    }

    .task-holder {
      min-height: $card-min-height - $card-header-height;
    }

    display: block;
    width: 90%;
    margin: 20px auto;
    max-height: none;
  }
}